.button-alert{
    padding: 20px 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(72, 190, 245);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-alert:hover {
    background-color: #3c3785;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }